/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   CSS RESET
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body styling */

body {
  width: 800px;
  margin: 0 auto;
  font-family: monospace;
  font-weight: 800;
}

/* Header styling */

#header {
  background-color: rgb(202, 187, 183);
  padding: 20px;
}

h3 {
  font-size: 20px;
  word-spacing: -5px;
  text-align: center;
  position: relative;
  top: 50px;
  right: 120px;
}

#header img {
  position: relative;
  top: -10px;
  left: 520px;
  width: 30%;
  height: 20%;
}

/* Nav styling */

#nav {
  background-color: rgb(198, 82, 82);
  color: rgb(239, 233, 233);
  font-size: 20px;
}

li {
  display: inline-block;
  padding: 10px;
}

li:first-child {
  margin-left: 380px;
}

/* Main styling */

#main {
}

.horizontal img {
  width: 40%;
  height: 10%;
}

.column img {
  width: 20%;
  height: 10%;
}
/* Footer styling */

#footer {
  background-color: rgb(202, 187, 183);
}

#footer img {
  width: 20%;
  height: 10%;
}
